<table class="table table-striped">
    <tbody>
      <tr>
       <td colspan="1">
            <form class="well form-horizontal">    
               <fieldset>
                  <div class="form-group">
                        <label class="col-md-4 control-label">Additional services</label>
                        <div class="col-md-8 inputGroupContainer">
                              <input type="checkbox" name="vehicle" value="Bike">WiFi<br>
                              <input type="checkbox" name="vehicle" value="Car" checked>Parking<br>
                        </div>
                  </div>
               </fieldset>
            </form>        
        </td>
      </tr>
   </tbody>
</table>