
<div class="col-10">
        <table class="table table-fixed table-hover">
            <thead>
              <tr>
                <th scope="col-xs-1">id</th>
                <th scope="col-xs-1">e-mail</th>
                <th scope="col-1">First name</th>
                <th scope="col-xs-1">Last name</th>
                <th scope="col-1">Password</th>
                <th scope="col-xs-1">Username</th>
                <th scope="col-1">BRN</th>
                <th scope="col-xs-1">status</th>
                <th scope="col-xs-1">Address</th>
                <th scope="col-xs-1" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let user of endUsers'>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.brn }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.address_id }}</td>
                <td><button type="button" (click)="activate(user.username)" class="btn btn-outline-success"><i class="fa fa-check-circle-o"></i> Activate</button></td>
                <td><button type="button" (click)="block(user.username)" class="btn btn-outline-danger"><i class="fa fa-ban"></i> Block</button></td>
              </tr>
            </tbody>
          </table>
    </div>

       