<div class="container" *ngIf="isAgent">
   <h4>Create new accommodation</h4><br>
   <div class="row">

      <div class="col-md-12">
         <table class="table table-striped" style="height: max-content">
            <tbody>
               <tr>
                  <td colspan="1">
                     <form class="well form-horizontal">
                        <fieldset>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Name</label>

                              <div class="col-md-8 inputGroupContainer">
                                 <input type="text" class="form-control my-input" id="name" placeholder="Name"
                                    [(ngModel)]="request.name" [ngModelOptions]="{standalone: true}">
                              </div>
                           </div>

                           <div class="form-group">
                              <label class="col-md-4 control-label">Category</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group">
                                    <select class="form-control my-input mt-3" id="category" placeholder="Category"
                                       [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                                       <option value="-1" disabled selected>Category</option>
                                       <option *ngFor = 'let category of categories'> {{ category.name }}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Type</label>

                              <div class="col-md-8 inputGroupContainer">
                                 <select class="form-control my-input mt-3" id="type" placeholder="Type"
                                    [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let type of types" [ngValue]="type" [disabled]="type.disabled">
                                       {{type.name}}</option>
                                 </select>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Description</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <textarea class="input-group" rows="4" cols="50" id="description" name="description"
                                    placeholder="Description" class="form-control" required="true" value="" type="text"
                                    [(ngModel)]="request.description" [ngModelOptions]="{standalone: true}"></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Image</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="custom-file px-2">
                                    <input type="file" class="custom-file-input"
                                       accept="image/gif, image/jpeg, image/png" (change)="onFilesSelected($event)"
                                       multiple>
                                    <label class="custom-file-label" id="selectImages"
                                       for="inputGroupFile02">{{selectImagesMessage}}</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Capacity</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group"><input id="capacity" name="capacity" placeholder="Capacity"
                                       class="form-control" required="true" value="" type="number"
                                       [(ngModel)]="request.capacity" [ngModelOptions]="{standalone: true}"></div>

                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">Canceling period</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group">
                                    <input type="number" class="form-control my-input mt-3" id="cancelingPeriod"
                                       placeholder="Canceling period(days)" [(ngModel)]="cancelation.daysLeft"
                                       [ngModelOptions]="{standalone: true}">
                                 </div>
                              </div>
                           </div>
                        </fieldset>
                     </form>

                     <!---->
                     <form class="well form-horizontal">
                        <fieldset>

                           <div class="form-group">
                              <label class="col-md-4 control-label" style="font-size: 22px;">Address</label>
                           </div>

                           <!-- <div class="form-group">
                              <label class="col-md-4 control-label">Country</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group"><input id="country" name="country" placeholder="Country"
                                       class="form-control" required="true" value="" type="text"
                                       [(ngModel)]="address.country" [ngModelOptions]="{standalone: true}"></div>
                              </div>
                           </div> -->

                           <div class="form-group">
                              <label class="col-md-4 control-label">City</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group"><input id="city" name="city" placeholder="City"
                                       class="form-control" required="true" value="" type="text"
                                       [(ngModel)]="address.city" [ngModelOptions]="{standalone: true}"></div>
                              </div>
                           </div>

                           <!-- <div class="form-group">
                              <label class="col-md-4 control-label">Street</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group"><input id="street" name="street" placeholder="Street"
                                       class="form-control" required="true" value="" type="text"
                                       [(ngModel)]="address.street" [ngModelOptions]="{standalone: true}"></div>
                              </div>
                           </div> -->

                        </fieldset>
                     </form>


                     <!---->
                  </td>
               </tr>
            </tbody>
         </table>

      </div>




   </div>

   <div class="row">
      <div class="col-md-12">
         <table class="table table-striped">
            <tbody>
               <tr>
                  <td colspan="1">
                     <form class="well form-horizontal">
                        <fieldset>
                           <div class="form-group">
                              <label class="col-md-4 control-label" style="font-size: 22px;">Additional services</label>
                              <div class="col-md-8 inputGroupContainer" style="margin: 5%;">
                                 <div *ngFor="let service of additionalServices">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="service.isChecked"
                                       [ngModelOptions]="{standalone: true}">{{service.name}}<br>

                                 </div>
                              </div>
                           </div>
                        </fieldset>
                     </form>

                     <!---->

                     <form class="well form-horizontal">
                        <fieldset>
                           <div class="form-group">

                              <label class="col-md-4 control-label" style="font-size: 22px;">Prices</label>
                              <div class="col-md-8 inputGroupContainer">


                                 <label class="col-md-4 control-label">Month</label>
                                 <select class="form-control my-input mt-3" id="month" [(ngModel)]="selectedMonth"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="-1" disabled selected>Month</option>
                                    <option *ngFor="let month of keysMonths()" [ngValue]="month">{{month}}</option>
                                 </select>

                                 <label class="col-md-4 control-label">Currency</label>
                                 
                                    <select class="form-control my-input mt-3" id="currency" placeholder="Currency"
                                       [(ngModel)]="selectedCurrency" [ngModelOptions]="{standalone: true}">
                                       <option *ngFor="let curr of keysCurrencies()" [ngValue]="curr">{{curr}}</option>
                                    </select>
                                 
                                 <label class="col-md-4 control-label">Price</label>
                                 <div class="input-group"><input id="price" name="price" placeholder="Price"
                                       class="form-control" required="true" value="" type="number"
                                       [(ngModel)]="priceInSeason.price" [ngModelOptions]="{standalone: true}">
                                       <button class="btn btn-info" (click)="apply()">Add to pricelist</button>
                                 </div>


                              </div>
                           </div>

                           <div class="form-group">
                              <p class="col-10 text-danger">{{errorMessage}}</p>
                              <button class="btn btn-primary mt-3 ml-4" (click)="finish()">Finish</button>
                           </div>

                        </fieldset>
                     </form>

                     <!---->
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

   </div>

</div>