<div id="back">
  <div>
    <nav class="navbar navbar-dark ">
      <div class="container-fluid">
        <nav class="navbar-header flex-column">
          <a class="navbar-brand" [routerLink] = "['/']">
            <img [src]='logo'>
          </a>
        </nav>
        <a class="btn btn-dark text-white font-weight-bold fa fa-hotel" [routerLink]="['accommodations']"><h6>Accommodations</h6></a>

        <ul class="nav nav-pills mb-4">
          <li class="nav-item mt-2" *ngIf="isLoggedIn">
            <a class="btn btn-dark mr-2 fa fa-envelope" [routerLink] = "['inbox']"></a>
          </li> 
          <li class="nav-item mt-2">
            <button *ngIf="!isLoggedIn" class="btn btn-dark my-2 my-sm-0 fa fa-sign-in fa-lg" type="submit" routerLink="/login"></button>
            <button *ngIf="isLoggedIn" class="btn btn-dark my-2 my-sm-0 fa fa-sign-out fa-lg" type="submit" routerLink="/login" (click)="signOut()"></button>
          </li>	
        </ul> 
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

