<div class="container">
	<div class= "mt-4" role="document doucment text-center">
		<div class="modal-md modal-content">
			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="ml-4 col-lg text-center">
							<p class="h4 text-dark font-weight-bold">SIGN IN</p>	
						</div>
					</div>
				</div>
			</div>
			<div class="container text-center p-3 rounded" >
			<form method="post" data-ng-submit="signin(log)">
				<div class="text-center">
					<img class="rounded" [src] = 'account' width="128px">	
				</div>			
			<div [formGroup] = "signRequest" class="form-group mx-auto" style="width: 300px;">
				<input formControlName = "username" type="text" class="form-control my-3" placeholder="username">
				<input formControlName = "password" type="password" class="form-control mb-3" placeholder="password">
				<button (click)="signIn()" class="btn btn-outline-dark btn-block font-weight-bold">SIGN IN</button>	
			</div>
			<!-- <div class="text-center mx-auto">
				<p class="h6  text-dark my-4">Not a member?</p>
				<a class="btn btn-dark font-weight-bold text-white" role="button" data-toggle="modal" data-target="#signup1"> SIGN UP</a>
			</div>	 -->
			</form>
		</div>
	</div>
</div>
