<div class="container">
  <div class="row">
<div class="col-6">
    <table class="table table-fixed table-hover">
        <thead>
          <tr>
            <th scope="col-xs-1">id</th>
            <th scope="col-1">Content</th>
            <th scope="col-xs-1">Visible</th>
            <th scope="col-1">Posted by</th>
            <th scope="col-xs-1" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let comm of refusedComments'>
            <td>{{ comm.id }}</td>
            <td>{{ comm.content }}</td>
            <td>{{ comm.visible }}</td>
            <td>{{ comm.postedBy }}</td>
            <td *ngIf="isAdmin"><button type="button" (click)="approve(comm.id)" class="btn btn-outline-success"><i class="fa fa-check-circle-o"></i>Approve</button></td>
          </tr>
        </tbody>
      </table>
    </div>
<div class="col-6">
    <table class="table table-fixed table-hover">
        <thead>
          <tr>
            <th scope="col-xs-1">id</th>
            <th scope="col-1">Content</th>
            <th scope="col-xs-1">Visible</th>
            <th scope="col-1">Posted by</th>
            <th scope="col-xs-1" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let comm of acceptedComments'>
            <td>{{ comm.id }}</td>
            <td>{{ comm.content }}</td>
            <td>{{ comm.visible }}</td>
            <td>{{ comm.postedBy }}</td>
            <td *ngIf="isAdmin"><button type="button" (click)="refuse(comm.id)" class="btn btn-outline-danger"><i class="fa fa-ban"></i> Deny</button></td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</div>
   