<div class="container">
  <div class="row">

    <div class="col-sm-3 mt-4">
        <ul class="list-group" *ngFor = "let c of clients; let i = index">
          <button class="list-group-item list-group-item-action active" (click)="showHistory(i)">{{c.firstName}}  {{c.lastName}}<span class="badge badge-dark badge-pill "></span></button>
        </ul> 
    </div>

    <div class="col-9 mt-4">
      <div role="document">
        <div class="modal-content">
          <div class="modal-header">
              <pre><h4 class="modal-title text-dark" id="sendMessage"><strong>CHAT HISTORY WITH</strong> </h4><h5><input type="text" [(ngModel)]="clientName"  readonly="readonly" unselectable="on" style="border: none;"></h5></pre>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="container modal-body bg-dark" *ngFor="let m of chat">
            <div class="row">
                <div class="col-6 border-none"  *ngIf="m.sentBy == 'AGENT'" ></div>
                <div class="card bg-info col-6" *ngIf="m.sentBy == 'AGENT'" >
                  <div class="card-body float-right border-info text-white text-center">
                    {{m.content}}
                  </div>
                </div>
                <div class="card bg-success col-6 ml-2" *ngIf="m.sentBy == 'END_USER'" >
                  <div class="card-body float-left border-info text-white text-center">
                    {{m.content}}
                  </div>
                </div>
                <div class="col-6" *ngIf="m.sentBy == 'END_USER'"></div>
            </div>
          </div>
          <div class="container my-4">
              <div class="input-group">
                  <textarea class="form-control custom-control" rows="1" style="resize:none" [(ngModel)]="message"></textarea>     
                  <span class="input-group-addon btn btn-info" (click)=sendMessage()>SEND</span>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>