<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="col-10">
        <table class="table table-fixed table-hover">
            <thead>
              <tr>
                <th scope="col-xs-1">id</th>
                <th scope="col-xs-1">e-mail</th>
                <th scope="col-1">First name</th>
                <th scope="col-xs-1">Last name</th>
                <th scope="col-1">Password</th>
                <th scope="col-xs-1">Username</th>
                <th scope="col-1">BRN</th>
                <th scope="col-xs-1">Address</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor = 'let agent of agentsList'>
                <td>{{ agent.id }}</td>
                <td>{{ agent.email }}</td>
                <td>{{ agent.firstName }}</td>
                <td>{{ agent.lastName }}</td>
                <td>{{ agent.password }}</td>
                <td>{{ agent.username }}</td>
                <td>{{ agent.brn }}</td>
                <td>{{ agent.address_id }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="text-left" style="padding: 20px">
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
            + new agent
          </button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New agent</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form>
                <div class="modal-body">
                                <div class="form-group">
                                  <input type="text" class="form-control" name="firstNameInput" [(ngModel)]="agent.firstName"  placeholder="Enter first name..." required>
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="lastnameInput" [(ngModel)]="agent.lastName" placeholder="Enter last name..." required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" [(ngModel)]="agent.username" placeholder="Enter username..." required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="brn" [(ngModel)]="agent.brn" placeholder="Enter bussines number..." required>
                                </div><div class="form-group">
                                    <label  style="text-align: left">Address</label>
                                <select id="sel1" class="form-control"  name="addresa" [(ngModel)]="oneAndOnlyAddress">
                                        <option  *ngFor="let item of addresses" [ngValue] = "item" >{{ item.country }}</option>
                                     </select></div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                  <button type="submit" class="btn btn-outline-success" (click)="onSubmit()" data-dismiss="modal"><i class="fa fa-check"></i> Save</button>
                </div></form>
            
              </div>
            </div>
          </div>