
 <section class="intro">
    <div class="container-fluid">
     <div class="row">
        <div class="col-lg-12 col-md-12 mr-4">
         <div class="table-responsive">
           <table class="table table-md table-active table-bordered my-4 mr-4">
           <tr class="thead-dark">
             <th>ID</th>
             <th>STATUS</th>
             <th>Accommodation name</th>
             <th>Accommodation type</th>
             <th>Accommodation owner</th>
             <th>Accommodation address</th>
             <th>Accommodation rate</th>
             <th>Went</th>
             <th>Came</th>
             <th>Admin <br> contact</th>
             <th>Chat <br> history</th>
             <th>Comment & rate</th>
           </tr>
           <tr *ngFor="let r of reservations; let i = index;">
              <td>{{r.id}}</td>
              <td>{{r.status}}</td>
              <td>{{r.accommodation.name}}</td>
              <td>{{r.accommodation.type.name}}</td>
              <td>{{r.accommodation.ownedBy.firstName}} {{r.accommodation.ownedBy.lastName}}</td>
              <td>{{r.accommodation.address.street}} {{r.accommodation.address.city}}</td>
              <td>{{r.accommodation.rate}}</td>
             <td>{{r.fromDate}}</td>
             <td>{{r.tillDate}}</td>
             <td><button  type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#sendMessage'+ i" >Send message</button></td>
             <td><button (click)="getMyChatHistory((r.accommodation.ownedBy.username))" type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#showHistory'+ i" >Show</button></td>
             <div class="modal fade" id="sendMessage{{i}}" tabindex="-1" role="dialog" aria-labelledby="sendMessage" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="sendMessage">NEW MESSAGE</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <span>
                          <label>Sending message to: {{r.accommodation.ownedBy.firstName}} {{r.accommodation.ownedBy.lastName}}</label> 
                        </span>
                      </div>
                      <div>
                          <span>
                            <textarea class="form-control" rows="5" [(ngModel)] = "messageContent"></textarea>
                          </span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button (click)="sendMessage(r.accommodation.ownedBy.username)" type="button" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="showHistory{{i}}" tabindex="-1" role="dialog" aria-labelledby="showHistory" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="sendMessage">CHAT HISTORY WITH {{r.accommodation.ownedBy.username}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="container modal-body" *ngFor="let m of chat">
                          <div class="card ">
                              <div class="card-body border-info text-info text-center">
                                {{m.content}}
                              </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <td><button type="button" class="btn btn-block btn-info" data-toggle="modal" [attr.data-target]="'#postComment'+ i" >Post</button></td>
                <div class="modal fade" id="postComment{{i}}" tabindex="-1" role="dialog" aria-labelledby="postComment" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="postComment">NEW COMMENT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <span>
                            <label>Posting comment to: {{r.accommodation.name}}</label> 
                          </span>
                        </div>
                        <div>
                            <span>
                              <textarea class="form-control" rows="5" [(ngModel)] = "commentContent"></textarea>
                            </span>
                            <div class="d-flex justify-content-center">
                              <span>
                                  <input [(ngModel)]="rate"> 
                                  <p>
                                  <div id="rating1" class="rating"></div>
                              </span>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button (click)="postComment(r.accommodation.id)" type="button" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
            </tr>
           </table>
         </div>
       </div>
     </div>
   </div>
 </section>

